<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AIBudget</title>

    {% load static %}
    {% comment %} Bootstrap CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    {% comment %} Bootstrap JS {% endcomment %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <h1>Budget manager</h1>  
    </main>
	<script src="index.js"></script>
  </body>
</html>